.home_big_img{
    display: none;
}

.card:hover>.frontHome{
    transform: perspective(600px) rotateY(-180deg);
    -webkit-transform: perspective(600px) rotateY(-180deg);
       position: relative;
    transition: transform .6s;
    opacity: 1;
    height: 100%;
}
.frontHome{
    z-index: 1;
    opacity:0 ;
    transform: perspective(600px) rotateY(0deg);
    -webkit-transform: perspective(600px) rotateY(0deg); 
}

